.DS_Store
*.*~
*~

build
dist
target

nohup.out

# swap files
*.swp

.idea

# ignore LaTeX output
docs/**/*.blg
docs/**/*.aux
docs/**/*.bbl
docs/**/*.pdf
docs/**/*.log
docs/**/*.dvi
docs/**/*.xml
docs/**/*.bcf
docs/**/*.bib
docs/**/*.bak
