.DS_Store
node_modules
*.*~
*~

build
dist

nohup.out

# swap files
*.swp

.vscode

# ignore LaTeX output
docs/**/*.blg
docs/**/*.aux
docs/**/*.bbl
docs/**/*.pdf
docs/**/*.log
docs/**/*.dvi
docs/**/*.xml
docs/**/*.bcf
docs/**/*.bib
docs/**/*.bak

# bower components folder
bower_components
