.button {
}

#addVertexBt {
    -fx-background-image: url('/images/intrographs_icon_add_vertex.png');
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 32px 32px;
}

.btHighlighted {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: red;
}

#addEdgeBt {
    -fx-background-image: url('/images/intrographs_icon_add_edge.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 32px 32px
}

#removeVertexBt {
    -fx-background-image: url('/images/intrographs_icon_remove_vertex.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 32px 32px;
}

#removeEdgeBt {
    -fx-background-image: url('/images/intrographs_icon_remove_edge.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 32px 32px;
}
